@import url("//fonts.googleapis.com/css?family=Creepster+Caps");
body{
    background-color: black;
    font-family: "Creepster Caps"; 
    font-weight: 550;
    font-size: 70px;
    color: #F03838;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.presents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 250px;
    filter: saturate(2);    
}
#p-text{ 
    text-align: center;
}